
                    <div class="footer--wrapper clearfix">
                        <div class="footer__section--wrapper">
                            <div class="footer__section browse-site">
                                <h4>Browse Site</h4>
                                <ul>
                                    <li><a href="javascript:void(0)">About our company</a></li>
                                    <li><a href="javascript:void(0)">Contact us</a></li>
                                    <li><a href="javascript:void(0)">Our Portfolio</a></li>
                                    <li><a href="javascript:void(0)">Our Prices</a></li>
                                    <li><a href="javascript:void(0)">Online quote form</a></li>
                                    <li><a href="javascript:void(0)">Client Testimonials</a></li>
                                </ul>
                            </div>
                            <div class="footer__section our-testimonials">
                                <h4>Our Testimonials</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam tristique tristique lacus in varius. Donec nec
                                    vestibulum ligula. Aenean turpis diam, feugiat a luctus in, 
                                    rhoncus eget risus. Maecenas consequat porttitor dui, 
                                    vitae consequat massa imperdiet ut. elit ut tempus 
                                    lobortis, eros leo molestie velit.
                                </p>
                                <a href="javascript:void(0)">Rafi, GraphicsFuel.com</a>
                            </div>
                            <div class="footer__section from-our-blog">
                                <h4>From Our Blog</h4>

                                <p>
                                    July 6, 2010<br />
                                    <a href="javascript:void(0)"><span>Lorem ipsum dolor sit amet, consectetur </span></a><br />
                                    adipiscing elit. Etiam tristique tristique lacus in varius. 
                                    Donec nec vestibulum ligula. Aenean turpis diam...
                                </p>

                                <p> 
                                    July 6, 2010<br />
                                    <a href="javascript:void(0)"><span>Lorem ipsum dolor sit amet, consectetur</span></a> <br />
                                    adipiscing elit. Etiam tristique tristique lacus in varius. 
                                    Donec nec vestibulum ligula. Aenean turpis diam...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-line clearfix">
                        <div class="copyright clearfix">
                            <p>
                                Copyright &copy 2010 Business. All rights reserved.
                                Designed by <a href="www.graphicsfuel.com">GraphicFuel.com</a>
                            </p>
                        </div>
                        <div class="social">
                            <ul>
                                <li><a href="javascript:void(0)"><img src="images/icons/t.png" alt="t"/></a></li>
                                <li><a href="javascript:void(0)"><img src="images/icons/i.png" alt="i"/></a></li>
                                <li><a href="javascript:void(0)"><img src="images/icons/f.png" alt="f"/></a></li>
                            </ul>
                        </div>
                        <div class="footer-logo">
                            <a href="javascript:void(0)"><img src="images/icons/logo.png" alt=""/></a>
                        </div>
                    </div>