@media screen and (max-width: 920px) {
    /*--- HOME ---*/ 
 
    .container {
        width: 95%;
    }
    
    .header__section {
        margin: 84px 0 0 20px;
    }
    
    .header__slider {
        margin: 42px 3px 0 0;
    }
    
    .header__slider--triangles {
        display: none;
    }
    
    .presentation__section {
        width: 50%;
        max-width: 372px;
        padding: 0 0 0 41px;
    }
    
    .social {
        margin: 18px 0 0 43px;
    }
    
    .footer-logo {
        margin: 17px 60px 0 0;
    }
    
/*    ---   A B O U T   ---*/

    .header-about__section {
        width: 100%;
        max-width: 745px;
    }
    
    .about-article {
        max-width: 745px;
        padding: 0 0 0px 0;
        float: none;
    }
    
    .sidebar {
        max-width: 700px;
        margin: 0;
        float: none;
        padding: 0 0 0 20px;
    }
    
    .sidebar .we-do__nav {
        width: 40%;
    }
    
}

@media screen and (max-width: 880px){
    /*--- HOME ---*/ 
   
    .logotipe {
        top: 7px;
        left: 8px;
    }
    
    .nav ul {
        margin: 12px 0 0 0;;
    }
    
    .header__slider {
        margin: 21px 3px 0 0;
        height: 313px;
    }
    
    .rslides_container--wrapper {
        margin: 0 auto;
    }
    
    .first__item img {
        float: none;
    }
    
    .first__item--vrapper {
        padding: 14px 0px 0px 20px;
    }
    
    .presentation__section {
        max-width: 315px;
    }
    
    .copyright {
        display: inline;
        float: none;
    }
    
    .social {
        margin: 0px 0 20px 43px;
        float: left;
    }
    
    .footer-logo {
        margin: 0px 135px 0 0;
        float: right;
    }
    
    
    /*---   A B O U T   ---*/
    
    .header-about__section {
        max-width: 680px;
    }
    
    .about-article {
        max-width: 660px;
    }
    
    .sidebar {
        max-width: 668px;
    }
    
}

@media (max-width:768px) {
 /*--- HOME ---*/ 
   
    .wrapper {
        padding: 15px 0 45px 0;
    }
    
    .container {
        max-width: 720px;
    }
        
    .logotipe {
        top: 7px;
        left: 8px;
    }
    
    .header {
        height: 267px;
    }
    
    .header__section {
        margin: 35px 0 0 20px;
    }
    
    .header__section h1 {
        font-size: 18px;
        line-height: 1;
    }
    
    .header__section span {
        font-size: 26px;
    }
    
    .section__button-start {
        width: 75%;
    }
    
    .section__button-start a {
       padding: 15px 0 13px 5px;
       font-size: 16px;
    }
    
    .rslides_container {
        width: 100%;
    }
    
    .header__slider {
        width: 48%;
        height: auto;
        max-width: 440px;
        margin: 20px 4px 0 0;
    }
    .header__slider h3 {
        font-size: 16px;
    }
    
    .rslides li img {
        width: 85%;
        margin: 0 auto;
    }
    
    .first {
        padding: 10px 0px 16px 0px;
    }
    
    .first__item {
     width: 32%;
    }
    
    /*---   A B O U T   ---*/
    .header-about__section {
        max-width: 500px;
    }
    
    .quote {
        margin: 12px 0 0 0;
        width: 60%;
    }
    
    .about-article {
        max-width: 490px;
    }
    
    .sidebar {
        max-width: 460px;
    }
}  

@media (max-width:580px) {
/*--- HOME ---*/ 
  
    .header__slider {
        margin: 20px 10px 0 0;
    }
    
    .wrapper {
        margin: 0 auto;
        padding: 5px 5px 5px 5px;
        width: 95%;
    }
    
    .is-sticky .sticky-wrapper {
        padding-right: 0.9em;
        background: none;
        height: 50px;
        margin: 0 0 0 0;
        text-align: center;
        border-top: none;
        border-bottom: none;
    }
    
   .nav {
        margin: 0;
        width: 100%;
        padding: 25px 0 15px 0;
        text-align: center;
    }
    
    nav ul {
	display: none;
	height: auto;
    }
    
    .nav li {
        margin: 0;
    }
    
    nav a#pull {
        display: block;
        margin: 0 auto;
	width: 90%;
        background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
        border: 1px solid #00224b;
        border-radius: 5px;
        color: #fff;
        box-shadow: -1px 4px 12px 0px #cbc7ca;
    }
    
    .btn {
        display: inline-block;
        margin: 3px 2px;
        width: 40%;
        padding: 5px 15px;
        background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
        border: 1px solid #00224b;
        border-radius: 5px;
        color: #fff;
    }
       
    .btn-home {
        display: none;
    }
    
    .header {
        height: 496px;
        background: url(../images/bg/header-bg.jpg) 50% 50%;
    }
    
    .header__section {
        margin: 15px 0 0 15px;
        width: 100%;
        max-width: 470px;
    }
    
    .header__section h1 {
        display: block;
        width: 50%;
    }
    
    .section__button-start {
        margin: 20px 0 0 0;
        width: 48%;
        
    }
    
    .section__button-start a {
        margin: 0px 0 0 3px;
        padding: 15px 0 13px 10px;
    }
    
    .header {
        height: 455px;
    }
    
    .header__slider {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        height: 270px;
    }
    
    .presentation__section {
        width: 100%;
        max-width: 358px;
    }
    
    .footer__section {
        width: 100%;
        float: none;
    }
    
    .bottom-line {
        width: 97%;
        max-width: 480px;
        margin: 0 0 0 0;
        padding: 0 10px 0 10px;
    }
    
    .footer-logo {
        margin: 0px 71px 0 0;
    }
    
    /*---   A B O U T   ---*/
    
    .btn-about {
        display: none;
    }
    
    .header-about__section {
        max-width: 380px;
    }
    .quote {
        margin: 19px 0 0 0;
        width: 60%;
        font-size: 14px;
    }
    
    .about-content {
    margin: 0 0 0 20px;
    }
    
    .about-article {
        max-width: 400px;
    }
    
    .about-content p {
        padding: 0;
    }
    
    .sidebar {
        max-width: 394px;
    }
}
    
@media (max-width:480px) {
/*--- HOME ---*/ 

    .logotipe {
        top: 45px;
    }
    
    .btn {
        margin: 2px 2px;
        width: 33%;
        padding: 5px 15px;
    }
    
    .nav {
        padding: 60px 0 15px 0;
    }
    
    nav a#pull {
        width: 80%;
    }
    
    .header {
        height: 427px;
    }
    
    .header__section h1 {
        width: 100%;
    }
    
    .section__button-start {
        width: 70%;
    }
    
    .header__slider {
        height: 267px;
    }
    
    .first__item {
        width: 50%;
        float: left;
    }
    
    .purce img {
        padding: 7px 18px 5px 49px;
    }
    
    .presentation__section {
        width: 72%;
        max-width: 223px;
    }
    
    .social {
        margin: 0px 0 0px -36px;
        float: left;
    }
    
    .footer-logo {
        margin: 0px 15px 15px 0;
    }
    
    /*---   A B O U T   ---*/
    
    .header-about h2 {
        margin: 10px 0 0 10px;
        float: none;
    }
    
    .quote {
        margin-top: 10px;
        float: none;
    }
}
    
