@import 'base/variables';

* {
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

.wrapper {
    margin: 0 auto;
    padding: 39px 0 45px 0;
    width: 100%;
    max-width: 1600px;
    background: #0e0e0e url(../images/bg/bg.png) no-repeat 50% 0%;
}

.container-home {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    box-shadow: 0px 0px 15px 5px #090708;
    background-color: $white ;
    border-radius: 8px;
}

/*--  START LOGO TOP NAV  --*/

.logo-top-nav {
    margin: 0;
    padding: 0;
    position: relative;
}

.button-top-right {
    width: 100%;
    max-width: 220px;
    height: 35px;
    background-image: url(../images/bg/button-top-tlf.png);
    position: absolute;
    top: 0px; 
    right: 0px;
}

.button-tlf {
    display: block;
    margin: 5px 0 0 54px;
    max-width: 220px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
}

.button-tlf:hover {
    color: #051d5d;
}

.button-top-right:hover {
    background-position: -220px 33px; 
    cursor: pointer;
}

.logo {
    height: 40px;
}

.logotipe img {
    display: none;
}

 .logotipe {
    display: block;
    width: 227px;
    height: 42px;
    background-image: url(../images/bg/logotip.png);
    position: absolute;
    top: 31px; 
    left: 41px;
}

.logotipe:hover {
    background-position: -227px 43px; 
    cursor: pointer;
}

.is-sticky .sticky-wrapper {
    width: 960px;
    padding: 9px 0 0 0;
    background-color: rgba(251, 251, 250, 0.88);
    height: 50px;
    margin: 0 0 0 8px;
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    color: blue;
}

.nav {
    margin: 9px 0 21px 0;
    padding: 0px 14px 0px 0;
    text-align: right;
    position: relative;
    z-index: 3;

    ul {
        padding: 0;
    }

    li {
        display: inline;
        margin: 0 0 0 16px;
        padding: 0;
    }
}

.btn{
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #808080;
}

.btn-home {
    padding: 4px 16px;
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
    color: $white;
    
}

.btn:hover {
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    color: $white;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
}

.btn-about {
    margin-left: 17px;
}

.btn-services {
    margin-left: 16px;
}

.btn-portfolio {
    margin-left: 17px;
    
}

.btn-contact {
    margin-left: 15px;
}

nav a#pull {
	display: none;
}

/* --  END LOGO TOP NAV  --*/
/*  -- START HEADER  --  */

.header {
    margin:0 auto;
    margin-top: 1px;
    width:100%;
    height:336px;
    max-width: 960px;
    background: url(../images/bg/header-bg.jpg)no-repeat 50% 50%;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $white;
}

.header__section {
    margin: 84px 0 0 52px;
    width: 43%;
    max-width: 405px;
    text-align: left;
    float: left;

    h1 {
        margin: 0 0 0 0;
        font-family: 'Trebuchet MS Regular';
        font-size: 26px;
        line-height: 1.3;
        color: $white;
        text-shadow: 0px 5px 5px rgba(22, 24, 29, 0.75);
    }

    span {
        font-size: 33px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.section__button-start {
    width: 100%;
    max-width: 256px;
    margin: 0 0 0 3px;
    background: linear-gradient(
        rgb(255, 255, 255) 0%,
        rgb(220, 220, 220) 50%, 
        rgb(204, 204, 204) 51%, 
        rgb(204, 204, 204) 94%, 
        rgb(255, 255, 255) 100%);
    border-radius: 10px;
}

.section__button-start a{
    margin: 28px 0 0 3px;
    padding: 15px 0 13px 25px;
    display: block;
    background: url(../images/icons/start.png) no-repeat 93% 50%; 
    text-decoration: none;
    font-family: 'Trebuchet MS Regular';
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b90016;
}

.section__button-start a:hover {
    box-shadow: 0px 0px 15px 5px #041d5e;
}

/*--- HEADER  SLIDER ---*/

.header__slider {
    width: 48%;
    height: 294px;
    max-width: 440px;
    margin: 42px 29px 0 0;
    padding-top: 0px;
    float: right;
    background: rgba(255, 255, 255, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;

    h3 {
        margin: 13px 0 15px 24px;
        font-family: 'Trebuchet MS Regular';
        font-size: 22px;
        font-weight: bold;
        line-height: 0.9;
        color: $white;
    }
}
.rslides_container--wrapper {
    width: 100%;
    max-width: 403px;
    margin: 0 0 0 16px;
}

.rslides_container {
    width: 100%;
    max-width: 398px;
    margin: 0 auto;
    padding: 0;
  }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 398px;
  padding: 0px;
  margin: 0 0 0 1px;
  }

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    max-width: 396px;
    left: 8px;
    top: -9px;
  
    li:first-child {
        position: relative;
        display: block;
        z-index: 2;
        float: left;
    }

    img {
        display: block;
        width: 99%;
        margin: 10px 0 0 -2px;
        border: 1px solid #fff;
      }
 } 
  
.transparent-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    display: block;
    background: #fff; /* Fix for IE6-9 */
    opacity: 0;
    filter: alpha(opacity=1);
    width: 48%;
    text-indent: -9999px;
    overflow: hidden;
}

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
    position: absolute;
    top: 14px;
    right: 20px;
}

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-left: 7px;
}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
    text-indent: 9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(2,23,99, 1);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 4px 3px 1px rgba(1,6,25,0.9);
    width: 14px;
    height: 14px;
}

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
    background: #222;
    background: rgba(255,255,255, .8);
    box-shadow: inset 4px 3px 1px rgba(192,192,192,0.9);
}
  
.left-triangle::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 0px; bottom: -46px; /* Положение треугольника */
    border: 27px solid transparent; /* Прозрачные границы */
    border-top: 20px solid rgba(190, 194, 199, 1); /* Добавляем треугольник */
}

.rihgt-triangle::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    right: 0px; bottom: -44px; /* Положение треугольника */
    border: 25px solid transparent; /* Прозрачные границы */
    border-top: 20px solid rgba(190, 194, 199, 1); /* Добавляем треугольник */
}

/*--- START FIRST ---*/

.first {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0px 16px 0px;
    background-color: #ededed;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #cecece;
}


.first__item--vrapper {
    margin: 0 0 0 0;
    padding: 14px 0 0 0px;
}

.first__item {
    img {
        display: block;
        float: left;
    }
    
    h3 {
        margin: 0 0 0 0;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        color: #575757;
    }
    
    p {
        margin: 0;
        font-family: arial;
        font-size: 12px;
        color: #4f4f4f;
    }
}

.purce img {
    padding: 7px 18px 0 30px;
}

.clock img {
    padding: 2px 16px 0 30px;
}

.phone img {
    padding: 9px 13px 0 30px;
}

    /*---  PRESENTATION   ---*/
    
.presentation {
    width: 100%;
    max-width: 960px;
    margin: 15px 0 0 0;
    padding: 0 20px 15px 20px;
    
}

.presentation__section {
    padding: 21px 20px 0 20px;
    
}

.presentation__section img {
    width: 100%;
}

.presentation__section h2 {
    margin: 0 0 22px 0;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    color: #585858;
}

.presentation__section p {
    margin: 18px 0 0 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #4f4f4f;
}

.section__btn {
    width: 100%;
    margin: 19px 0 0 0;
}

.section__btn a {
    width: 96px;
    height: 25px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: linear-gradient(to top, #e4e4e4, #ffffff );
    text-decoration: none;
    font-family: nevis;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5;
    text-transform: uppercase;
    color: #6c6c6c;
    box-shadow: 0px 7px 14px -4px #b8b9bc; 
}

.section__btn a:hover {
    box-shadow: 0px 0px 6px 4px #b8b9bc;
}

.we-do__nav {
    ul {
        padding: 0 0 0 0;
        list-style-image: url(../images/icons/list-style.png);  
        list-style-position: inside;
    }
    
    li {
        width: 100%;
        line-height: 26px;
        border-bottom: 1px dotted #848484;
    } 
    
    a {
        text-decoration: none;
        font-size: 12px;
    }
}

.we-do__nav a:hover {
    opacity: 0.5;
}

/*---  FOOTER   ---*/

.footer {
    width: 100%;
    max-width: 960px;
    margin: 0 0 0 0;
    border-top: 1px solid #bababa;
    background-color: #ededed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer--wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 0 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.footer__section--wrapper {
    margin: 0 0 0 0;
    padding: 0 41px 0 41px;
    border-top: 1px solid #e2e2e2;
}

.footer__section {
    width: 35%;
    float: left;
    
    h4 {
        margin: 21px 0 22px 0;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.3;
        color: #585858;
    }
}

.browse-site {
    width: 26%;
}

.browse-site {
    ul {
        padding: 0;
        list-style: none;
        list-style-position: inside;
    }
    
    a {
        text-decoration: none;
        font-family: arial;
        font-size: 12px;
        line-height: 1.6;
        color: #4f4f4f;
    }
}

.our-testimonials a:hover,
.browse-site a:hover {
    color: blue;
}

.our-testimonials {
    margin-bottom: 9px;
    font-family: arial;
    font-size: 12px;
    line-height: 1.6;
    color: #4f4f4f;
    
    p {
        margin-bottom: 6px;
    }
    
    a {
        text-decoration: none;
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.6;
        color: #000;
    }
}

.from-our-blog {
    width: 32%;
    float: right;
}

.from-our-blog h4{
    margin-bottom: 10px;
}

.from-our-blog p {
    margin-bottom: 16px;
    font-family: arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.4;
    color: #4f4f4f;
}

.from-our-blog a {
    text-decoration: none;
}

.from-our-blog a:hover {
    opacity: 0.6;
}

.from-our-blog span {
    font-weight: bold;
    color: #0f4db6;
}

.bottom-line {
    width: 100%;
    max-width: 878px;
    margin: 0 0 0 0;
    padding: 0 41px 0 41px;
    border-top: 1px solid #ffffff;
}

.copyright {
    margin: 18px 0 11px 0;
    font-family: arial;
    font-size: 12px;
    color: #4f4f4f;
    float: left;
}

.copyright a {
    text-decoration: none;
    color: #4f4f4f;
}

.copyright a:hover{
    color: blue;
}

.social {
    width: 100px;
    margin: 14px 0 0 138px;
    padding: 0 0 0 0;
    display: inline-block;
}

.social ul {
    display: inline;
    list-style: none;
}
.social li {
    margin-right: 8px;
    width: 20px;
    display: inline;
}

.footer-logo {
    width: 34px;
    height: 18px;
    margin: 16px 0 0 23px;
    float: right;
}



/*----   A B O U T   ----*/

.nav-aboutus
.is-sticky
.sticky-wrapper {
    padding: 0;
}

.nav-aboutus ul {
    margin: 12px 0 0 0;
}

.btn-about {
    padding: 4px 16px;
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
    color: #fff;
    
}

.header-about {
    margin: 0 auto;
    margin-top: 1px;
    width: 100%;
    height: 86px;
    max-width: 960px;
    background: url(../images/bg/header-bg.jpg)no-repeat 50% 0%;
    border-top: 1px solid #1954bc;
    border-bottom: 1px solid #fff;
}

.header-about__section {
    margin: 7px 41px 0 40px;
    width: 100%;
    max-width: 884px;
}

.header-about h2 {
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    float: left;
}

.quote {
    margin: 25px 0 0 0;
    padding: 0 0 0 0;
    width: 70%;
    font-family: arial;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: right;
    float: right;
}

.about-content {
    margin: 0 0 0 41px;
    width: 100%;
    max-width: 900px;
}

.about-article {
    margin: 0 0 0 0;
    padding: 0 0 70px 0;
    width: 100%;
    max-width: 640px;
    font-family: arial;
    font-size: 12px;
    line-height: 1.9;
    color: #4f4f4f;
    float: left;
}

.about-content p {
    padding: 20px 0 0 0;
}

.sidebar {
    width: 100%;
    max-width: 195px;
    padding: 0 24px 0 20px;
    float: right;
    position: relative;
    background: linear-gradient(
        to right, rgb(255, 255, 255) 0%, 
        rgb(237, 237, 237) 0%, 
        rgb(255, 255, 255) 11%);
}

.sidebar h3 {
    margin: 35px 0 -2px -20px;
    padding: 0 0 0 23px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    background: linear-gradient(
        to right, rgb(207, 207, 207) 0%, 
                  rgb(255, 255, 255) 100%);
}

.images {
    margin: 35px 0 50px 0;
}


/*---   S E R V I C E S   ---*/

.btn-services {
    padding: 5px 15px;
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
    color: #fff;
}

.services-content {
    padding: 0 20px 40px 20px;
}

.btn-left {
    float: left;
    width: 100px;
}

.btn-right {
    float: right;
    width: 110px;
}

.services-content-centre {
    padding: 0 20px 40px 20px;
    
}

.gradient {
    height: 22px;
    background: linear-gradient(
        rgb(223, 223, 223) 0%, 
        rgb(237, 237, 237) 4%, 
        rgb(255, 255, 255) 100%);
}

.presentation__section h2 span {
    font-size: 15px;
}

.benefits h2 {
    margin: 2px 0 -5px 7px;
    font-size: 25px;
    font-weight: bold;
}

.benefits ul {
    margin: 0;
    padding: 0;
}

.benefits li {
    padding: 37px 0 0 52px;
    list-style: none;
    background: url(../images/icons/marker.png) no-repeat 2% 80%;
    font-size: 12px;
}

.benefits-right {
    padding: 23px 0 16px 0;
}




/*---   P O R T F O L I O   ---*/

.btn-portfolio {
    padding: 5px 15px;
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
    color: #fff;
}

.header-menu ul {
    margin: 30px 0 0 0;
    float: right;
}

.header-menu li {
    display: inline;
    padding: 0 20px 0 0;
}

.header-btn {
    font-family: arial;
    font-size: 13px;
    color: #93daff;
    text-decoration: none;
}

.header-btn:hover,
.header-btn--active {
    color: #fff;
}

/*---   C O N T A C T   ---*/

.btn-contact {
    padding: 5px 15px;
    background: linear-gradient(#6c9ee0, #003c8d, #266ecf);
    border: 1px solid #00224b;
    border-radius: 5px;
    box-shadow: -1px 4px 12px 0px #cbc7ca;
    color: #fff;
    
}




   






