//COLORS
$primary-color:#ff8400;
$blue:#1954bc;
$white: #fff;

$black:#000;
$linkcolor:$blue;

@font-face {
	font-family: 'Trebuchet MS Regular';
	src: url('../fonts/trebuchet_ms_regular/Trebuchet MS Regular.eot');
	src: local('☺'), url('../fonts/trebuchet_ms_regular/Trebuchet MS Regular.woff') format('woff'), url('../fonts/trebuchet_ms_regular/Trebuchet MS Regular.ttf') format('truetype'), url('../fonts/trebuchet_ms_regular/Trebuchet MS Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: nevis;
	src: url('fonts/nevis/nevis.eot');
	src: local('☺'), url('fonts/nevis/nevis.woff') format('woff'), url('fonts/nevis/nevis.ttf') format('truetype'), url('fonts/nevis/nevis.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


